.site-header {
  @extend %padding-small;
  background: $brand-color;
  // border-bottom: 1px solid $border-color;
  display: inline-block;
  // float: left;
  width: 100%;

  a {
    color: $header-link-color;
    font-size: 12px;
    margin-left: 1.5em;
  }

  .avatar {
    height: 3em;
    // width: 2em;
    float: left;
    margin-top: -10px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .branding {
    display: inline-block;
  }

  .site-nav {
    display: inline;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;
    }
    @media (max-width: 1100px) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }
}


// Featured Header
.jumbotron {

  &-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 4px solid;
    display: inline-block;
  }
  &-headline {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: 700;
  }

  &-tagline {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
  }
}
