---
layout: landing-header
---

<div id="features" class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="title editable">
          UPGRADE YOUR FUNDING STRATEGY
        </h2>
				<p class="editable">
          Devex Business Intelligence is the premium service for monitoring funding notices, advance information on business opportunities and big-picture funding trends.
        </p>

        <div class="grey-box">
					<div class="row">
						<div class="col-md-9 col-md-push-3">
							<h3 class="editable">
                Access the industry standard in business intelligence
              </h3>
							<p class="editable">
                Track funding notices from 350+ donor sources, set up custom alerts to follow relevant opportunities and use exclusive Devex funding strategy and pipeline reports to plan ahead. Our business reporting connects you with the need-to-know insights on issues like procurement reforms and donors’ shifting budget priorities.
              </p>
						</div>
						<div class="col-md-3 col-md-pull-9">
							<img class="img-responsive editable" src="https://pages.devex.com/rs/devex/images/BIA-icons-01.png" width="286" alt="Access the industry standard in business intelligence">
						</div>
					</div>

					<div class="row">
						<div class="col-md-9">
							<h3 class="editable">
                Align your strategy with collaboration tools
              </h3>
							<p class="editable">
                Coordinate your funding strategy using the Devex dashboard, with tools that allow you to track and share specific opportunities, business advice and strategy reports from the world’s most comprehensive database for development funding.
              </p>
						</div>
						<div class="col-md-3">
							<img class="img-responsive editable" src="https://pages.devex.com/rs/devex/images/BIA-icons-02.png" width="310" alt="Align your strategy with collaboration tools">
						</div>
					</div>

					<div class="row">
						<div class="col-md-9 col-md-push-3">
							<h3 class="editable">
                Find partners and subcontractors
              </h3>
							<p class="editable">
                Browse the Devex directory of 12,000+ organizations to identify partners, subcontractors and competitors and find key information on their project histories and core competencies. And by joining the Devex network of 600,000 professionals, you can easily reach out to business contacts at funding agencies and potential partners.
              </p>
						</div>
						<div class="col-md-3 col-md-pull-9">
							<img class="img-responsive editable" src="https://pages.devex.com/rs/devex/images/BIA-icons-03.png" width="314" alt="Find partners and subcontractors">
						</div>
					</div>

          <div class="row">
						<div class="col-md-9">
							<h3 class="editable">
                Get the inside track on development funding
              </h3>
							<p class="editable">
                A Business Intelligence Account means you can see grants, subcontracts and supply chain opportunities you can’t find anywhere else — and with the ability to post your funding opportunities to Devex for free, make sure you get exposure to our community of leading development professionals and organizations.
              </p>
						</div>
						<div class="col-md-3">
							<img class="img-responsive editable" src="https://pages.devex.com/rs/devex/images/BIA-icons-04.png" width="314" alt="Get the inside track on development funding">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
