---
layout: landing-header
---

<div class="intro" name="scroll-to-intro" style="padding-top:47px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <p class="editable">Whether you're looking to break into global development for the first time, searching for your next position or exploring new ways to grow professionally, Devex has the tools you need to manage your development career. Join more than 10,000 Devex members who already have access to a Career Account. You'll be in good company.</p>
        </div>
    </div>
  </div>
</div>
<div class="main" id="value-proposition" style="padding-top:20px;">
  <div class="container">
    <!-- Row of three columns -->
    <div class="row">
      <div class="col-sm-4">
        <div class="box-shadow" id="job-box" style="-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;padding:20px !important;">
          <div class="key-value center">
            <img class="editable" src="https://pages.devex.com/rs/devex/images/CA-markeitng-find-your-job-icon.png" height="100" alt="find your dream job" style="padding-bottom:10px;" />
            <h2 class="editable">Suitcase icon</h2>
          </div>
          <div class="bullets">
            <br />
              <ul style="list-style-position: outside;">
                <li class="editable">Find opportunities on the world's largest development job board</li>
                <!--<li>Have your profile featured in recruiter searches </li>-->
                <li class="editable">Get custom job alerts sent directly to your inbox </li><br /> <br />
              </ul>
          </div>
          <div class="learn-more center" id="learn-more-job">
            <a class="btn btn-primary center editable" href="https://pages.devex.com/rs/devex/images/CA-video-job-14.html" style="width: 100%;">
              Learn more
            </a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="box-shadow" id="knowledge-box" style="-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;padding:20px !important;">
          <div class="key-value center">
            <img src="https://pages.devex.com/rs/devex/images/CA-marketing-stay-in-the-know-icon.png" alt="Get insider career advice" height="100" style="padding-bottom:10px;" data-pin-nopin="true" />
            <h2>Get insider career advice</h2>
          </div>
          <div class="bullets">
            <ul style="list-style-position: outside;">
              <br />
              <li>Join exclusive online and in-person career events</li>
              <li>Explore career trends, tips, insights and advice from leading development recruiters  </li><br />
            </ul>
          </div>
          <div class="learn-more center" id="learn-more-knowledge">
            <a href="https://pages.devex.com/rs/devex/images/CA-video-know-14.html"><button class="btn btn-primary center" style="display:block;width:100%;">Learn more</button></a>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="box-shadow" id="experts-box" style="-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.34) !important;padding:20px !important;">
          <div class="key-value center">
            <img src="https://pages.devex.com/rs/devex/images/CA-marketing-connect-to-experts-icon.png" alt="Discover future employers" height="100" style="padding-bottom:10px;" data-pin-nopin="true" />
            <h2>Discover future employers</h2>
          </div>
          <div class="bullets">
             <ul style="list-style-position: outside;">
               <br />
               <li>Access profiles for over 12,000 global development employers</li>
               <li>Feature your professional profile for thousands of recruiters to find</li>
              <!--<li>Get free admission to Devex Career Forums </li>--><br /> <br />
            </ul>
          </div>
          <div class="learn-more center" id="learn-more-experts">
            <a href="https://pages.devex.com/rs/devex/images/CA-video-experts-14.html"><button class="btn btn-primary center" style="display:block;width:100%;">Learn more</button></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
