---
layout: default
---

<div id="main">
            <header id="header" class="navbar-inverse" style="height: 52px;">
               <div class="container">
                  <div class="row">
                     <div class="col-xs-4 logo"><a href="https://www.devex.com" target="_blank"><img src="https://pages.devex.com/rs/devex/images/tender-tracking-logo-white.png" height="40" alt="Devex"></a></div>
                     <div class="col-xs-8">
                        <div class="hidden-xs header-nav">
                           <ul class="nav navbar-nav pull-right">
                              <li><a href="#what" class="scroll">What is it?</a></li>
                              <li><a href="#how" class="scroll">How does it work?</a></li>
                              <li><a href="#pricing" class="scroll">Pricing</a></li>
                              <li><a href="#experts" class="scroll">Successes</a></li>
                           </ul>
                        </div>
                        <!--/.navbar-collapse -->
                     </div>
                     <!-- Responsive Hamburguer Menu -->
                     <div class="col-xs-8 visible-xs text-right">
                        <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container visible-xs">
                  <div class="row">
                     <div class="nav-collapse collapse" style="height: 0px;">
                        <ul class="nav" style="background-color:rgba(0,0,0,0.5);text-align:center;">
                           <li><a href="#what" class="scroll">What is it?</a>   </li>
                           <li><a href="#how" class="scroll">How it works?</a></li>
                           <li><a href="#pricing" class="scroll">Pricing</a></li>
                           <li><a href="#successes" class="scroll">Successes</a></li>
                        </ul>
                     </div>
                     <!--/.nav-collapse -->
                  </div>
               </div>
            </header>
            <div id="banner" class="section">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 text-center">
                        <h1 style="font-family: 'Montserrat', sans-serif;text-transform:uppercase;font-size: 25pt; ">Want a great development job?</h1>
                        <br>
                        <p style="font-size:20px; color:white; width:80%; text-align:center;margin-right:auto;margin-left:auto;font-weight:lighter;">You need to make sure your CV is telling a story recruiters want to hear.</p>
                        <br><br><br>
                        <p><a href="#pricing"><button class="btn btn-lg btn-primary">Get Started</button></a></p>
                        <br><br>
                     </div>
                  </div>
               </div>
            </div>
            <div id="what" class="section">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-7">
                       <h2 class="title editable">
                         {{ page.section-1-title }}
                       </h2>
                        <p>
                           Don't you want to make sure it's a good one? Knowing how to communicate all of your great qualifications and big career goals is difficult - especially when you need to capture a recruiter's attention in just a few seconds.
                        </p>
                        <p>
                          Luckily, we can help you speak their language.
                        </p>
                        <p>
                          When you sign up for Devex CV Writing, you'll work one-on-one with a qualified CV writer who understands the ins-and-outs of recruiting for global development. Together you'll create a new version of your CV that makes your applications stand out to the people who matter most when it comes to landing your dream job.
                        </p>
                     </div>
                     <div class="col-sm-5">
                       <img class="img-responsive" src="https://pages.devex.com/rs/685-KBL-765/images/cv-document.svg" width="100%" height="auto" alt="How it works" data-pin-nopin="true">
                     </div>
                  </div>
               </div>
            </div>
            <div id="how" class="section">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <h2 class="title">HOW IT WORKS</h2>
                        <p>
                          Devex CV Writing is a quick and convenient way to get your CV recruiter ready. All you have to do is:
                        </p>
                        <div class="visible-xs">
                          <img class="img-responsive" src="https://pages.devex.com/rs/685-KBL-765/images/cv-writing-how_sm.svg" width="100%" height="auto" alt="How it works">
                        </div>
                        <div class="hidden-xs">
                          <img class="img-responsive" src="https://pages.devex.com/rs/685-KBL-765/images/cv-writing-how_lg.svg" width="100%" height="544" alt="How it works">
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <div id="pricing" class="section">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <h2 class="title">Pricing</h2>
                        <div class="pricing-table-wrapper">
                          <!-- Table -->
                          <table class="table table-bordered table-responsive">
                            <thead>
                              <tr>
                                <th>Overall years of experience <i class="fa fa-question-circle has-tooltip has-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pricing is based on cumulative experience, because more years of experience means more information for our team to work with and a greater time investment to make sure your credentials are presented well."></i></th>
                                <th class="text-center">
                                  <span class="title">0 - 2 </span>years
                                </th>
                                <th class="text-center">
                                  <span class="title">3 - 7 </span>years
                                </th>
                                <th class="text-center">
                                  <span class="title">8 - 15 </span>years
                                </th>
                                <th class="text-center">
                                  <span class="title">15 + </span>years
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <strong>Devex Members with a Career Account</strong>
                                </td>
                                <td>
                                  <tito-button class="btn btn-primary" event="devex/cv-writing" releases="louncvvqn2g"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-1">Get started for <span class="price">$299</span></button></tito-button>
                                </td>
                                <td>
                                  <tito-button class="btn btn-primary" event="devex/cv-writing" releases="qxe7ykynx2i"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-2">Get started for <span class="price">$399</span></button></tito-button>
                                </td>
                                <td>
                                  <tito-button class="btn btn-primary" event="devex/cv-writing" releases="yswqqpnqc38"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-3">Get started for <span class="price">$499</span></button></tito-button>
                                </td>
                                <td>
                                  <tito-button class="btn btn-primary" event="devex/cv-writing" releases="ssg7vp3kh9i"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-4">Get started for <span class="price">$599</span></button></tito-button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <strong>Non-Members</strong>
                                  <small class="secondary-cta">(Upgrade to a <a href="https://www.devex.com/membership/ca-discount?utm_source=website&amp;utm_medium=cv_writing_page&amp;utm_campaign=ca_ntr&amp;return_to=https%3A%2F%2Fpages.devex.com%2Fglobal-development-cv-writing-services.html%3Futm_source%3Dwebsite%26utm_medium%3Dm_s_marketing_page%26utm_campaign%3Dum_ntr" id="join-link" target="_top">Career Account</a>) <i class="fa fa-question-circle has-tooltip has-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upgrade to a Career Account before you start your CV Writing project for 1 year of access to all of our career resources for the same price as non-member CV Writing."></i></small>
                                </td>
                                <td>
                                  <tito-button class="btn btn-default" event="devex/cv-writing" releases="weevlfv1zne"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-5">Get started for <span class="price">$399</span></button></tito-button>
                                </td>
                                <td>
                                  <tito-button class="btn btn-default" event="devex/cv-writing" releases="yrbpv2nawkk"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-6">Get started for <span class="price">$499</span></button></tito-button>
                                </td>
                                <td>
                                  <tito-button class="btn btn-default" event="devex/cv-writing" releases="fbygojf1kfi"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-7">Get started for <span class="price">$599</span></button></tito-button>
                                </td>
                                <td>
                                  <tito-button class="btn btn-default" event="devex/cv-writing" releases="3jgr39z6tny"><button class="tito-tickets-button" id="button-tito-devex-cv-writing-8">Get started for <span class="price">$699</span></button></tito-button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
<div><i class="fa fa-question-circle"></i>&nbsp;<strong>Have Questions? We're here to help.</strong><br> If you have questions or would like to discuss Devex CV Writing with a member of our team before signing up, please send us an email at <a href="mailto:cvwriting@devex.com">cvwriting@devex.com</a>
                          </div>
                        </div>
                    </div>
                  </div>
               </div>
            </div>
            <div id="experts" class="section">
               <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2 class="title">SUCCESS STORIES</h2>
                    </div>

                    <div class="col-lg-12">
                      <div id="successes" class="row">
                       <div class="box col-sm-4" id="box-1" style="display: block;">
                          <div class="quote">"With Devex's assistance, I feel my resume represents the full scope of my accomplishments. Before using Devex, I may have been selling myself short to employers. Now I am confident that I am putting my best foot forward every time I apply for a job."</div>
                          <div class="avatar">
                            <img class="center" src="https://pages.devex.com/rs/devex/images/cv-writing-cook.png" width="160" height="160" alt="Robinson Cook" data-pin-nopin="true">
                            <div class="text-center">
                              <strong>
                                Robinson Cook
                              </strong><br>
                              <small>
                                Program Director
                              </small>
                            </div>
                          </div>
                       </div>
                       <div class="box col-sm-4" id="box-2" style="">
                         <div class="quote">"I invested in Devex CV writing service to ensure my extensive non-profit executive and consulting experience, was communicated into the terms and outcome measures used in the field of global development. The results: an offer from international consulting firm in D.C., executive-level interviews for two full-time positions and one accepted offer which I have already started."</div>
                           <div class="avatar">
                             <img class="center" src="https://pages.devex.com/rs/devex/images/cv-writing-hollingsworth.png" width="160" height="160" alt="Joyce Hollingsworth">
                             <div class="text-center">
                               <strong>
                                 Joyce Hollingsworth
                               </strong><br>
                               <small>
                                 Director of Admissions
                               </small>
                             </div>
                           </div>
                       </div>
                       <div class="box col-sm-4" id="box-3" style="display: block;">
                         <div class="quote">
                           <em>"I have a very broad work history and a wide base of professional experience. Devex helped me to establish a "golden thread" through my range of expertise, tying all that I did back to my essential job responsibilities and clarifying concisely what I accomplished during these diverse experiences."</em>
                         </div>
                           <div class="avatar">
                             <img class="center" src="https://pages.devex.com/rs/devex/images/cv-writing-kepner.png" width="160" height="160" alt="John Kepner">
                             <div class="text-center">
                               <strong>
                                 John Kepner
                               </strong><br>
                               <small>
                                 Senior Capacity Development &amp;<br>Learning Advisor
                               </small>
                             </div>
                           </div>
                       </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
            <div class="toolbox-reset">
  <div class="ui-toolbox footer" style="padding-top:47px;">
    <hr class="strong">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 about-devex clearfix v-padding-medium">
            <small class="strong caption block margin-bottom-medium ">EXPLORE DEVEX</small>

            <ul class="col-xs-6 col-sm-12">
              <li>
                <span class="icon-chevron-right"></span>
                <a href="https://www.devex.com/en/people/search">Community</a>
              </li>
              <li>
                <span class="icon-chevron-right"></span>
                <a href="https://www.devex.com/projects">Funding</a>
              </li>
              <li>
                <span class="icon-chevron-right"></span>
                <a href="https://pages.devex.com/for-executives.html">For Executives</a>
              </li>
            </ul>
            <ul class="col-xs-6 col-sm-12">
              <li>
                <span class="icon-chevron-right"></span>
                <a href="https://www.devex.com/jobs">Jobs</a>
              </li>
              <li>
                <span class="icon-chevron-right"></span>
                <a href="https://www.devex.com/news">News</a>
              </li>
            </ul>

          </div>
          <div class="col-sm-4 social-media">
            <small class="hidden-xs strong caption block margin-bottom-medium ">CONNECT</small>
            <hr class="visible-xs strong">
            <ul class="inline-right">
              <li><a class="icon-facebook" href="https://www.facebook.com/Devex" target="_blank"></a></li>
              <li><a class="icon-twitter" href="https://twitter.com/devex" target="_blank"></a></li>
              <li><a class="icon-linkedin" href=" https://www.linkedin.com/groups/Devex-International-Development-72869/about" target="_blank"></a></li>
              <li><a class="icon-google-plus" href="//plus.google.com/112311154822449262276" target="_blank"></a></li>
              <li><a class="icon-youtube" href="https://www.youtube.com/user/wwwDevexCom" target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="marketing">
        <div class="container">
          <div class="row v-padding-large">
            <div class="col-sm-8">
            <span class="strong">Devex is the media platform for the global development community.</span>
            <em class="cursive-font block">A social enterprise, we connect and inform 600,000+ development, health, humanitarian, and sustainability professionals through news, business intelligence, and funding &amp; career opportunities so you can do more good for more people. <a href="https://www.devex.com/join/default" style="color:#B6DFFC;">We invite you to join us.</a></em>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="https://about.devex.com">About Devex</a>
                </li>
                <li>
                  <a href="https://pages.devex.com/membership-and-services">Membership &amp; Services</a>
                </li>
                <li>
                  <a href="https://mediakit.devex.com">Advertise</a>
                </li>
                <li>
                  <a href="https://www.devex.com/jobs/posting-options">Post a Job</a>
                </li>
                <li>
                  <a href="mailto:info@devex.com">Contact Us</a>
                </li>
                <li>
                  <a href="https://devex.tumblr.com/">Join our Team</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright container v-padding-large">
        <ul class="inline-left caption">
          <li>
            <span class="margin-right-medium">© Copyright</span>
            <span class="margin-right-medium">2000-2016 Devex </span>
          </li>
          <li>
            <a href="https://devex.zendesk.com/hc/en-us/articles/203927810-Devex-user-agreement">User Agreement</a>
          </li>
          <li>
            <a href="https://www.devex.com/en/privacy-statement">Privacy Statement</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
      <script>window.jQuery || document.write("<script src='https://pages.devex.com/rs/devex/images/jquery-1.10.2.min.js'>\x3C/script>")</script>
      <script src="https://pages.devex.com/rs/devex/images/bootstrap.min.js"></script>
      <script src="https://pages.devex.com/rs/devex/images/jquery.sticky.js"></script>
      <script src="https://pages.devex.com/rs/devex/images/jquery.transit.min.js"></script>
      <script src="https://pages.devex.com/rs/devex/images/tender-tracking-scripts.js"></script>
      <!-- Importing old CV Writing page JS -->
      <script>
      $(document).ready(function() {
        $('.has-tooltip').tooltip()
      });
      // Hide Header on on scroll down
      var didScroll;
      var lastScrollTop = 0;
      var delta = 5;
      var navbarHeight = $('nav').outerHeight();

      $(window).scroll(function(event){
          didScroll = true;
      });

      setInterval(function() {
          if (didScroll) {
              hasScrolled();
              didScroll = false;
          }
      }, 220);

      function hasScrolled() {
          var st = $(this).scrollTop();

          // Make sure they scroll more than delta
          if(Math.abs(lastScrollTop - st) <= delta)
              return;

          // If they scrolled down and are past the navbar, add class .nav-up.
          // This is necessary so you never see what is "behind" the navbar.
          if (st > lastScrollTop && st > navbarHeight){
              // Scroll Down
              $('#header').removeClass('nav-down').addClass('nav-up');
          } else {
              // Scroll Up
              if(st + $(window).height() < $(document).height()) {
                  $('#header').removeClass('nav-up').addClass('nav-down');
              }
          }

          lastScrollTop = st;
      }
    </script>
